{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<main class="container my-4 shared">
    <section class="mt-5">
        <h2 class="text-center mb-4">Get in touch!</h2>
        <p class="text-center">Do you need a bespoke cake for a special occasion? Let us know! We'll bring your idea to life!</p>
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <form id="contact-form" class="w-100">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message:</label>
                            <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn w-100">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section>
        <div class="my-4 text-center">
            <h2>Get us on the phone!</h5>
            <p>Call us on: +353 123 4567</p>
        </div>
    </section>
    <br>
    <section>
        <h2>We're over here!</h2>
        <div class="my-4" id="map" style="height: 400px; width: 100%;"></div>
    </section>
</main>

<!-- index.html content ends here -->
{% endblock %}

{% block extra_js %}
    <script async defer loading="async" 
        src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_KEY }}&callback=initMap">
    </script>

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function(){
            emailjs.init({
                publicKey: "{{ EMAILJS_PUBLIC_KEY }}",
            });
        })();
    </script>
{% endblock %}